@()
<md-list flex>
    <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h3>TIM Celular S.A.</h3>
            <p>00.000.000/0000-00</p>
            <address>1010, Lancaster street - London, UK</address>
        </div>
        <md-icon ng-click="null" aria-label="edit" class="md-secondary">mode_edit</md-icon>
        <md-icon ng-click="null" aria-label="delete" class="md-secondary">delete</md-icon>
    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h3>TIM Celular S.A.</h3>
            <p>00.000.000/0000-00</p>
            <address>1010, Lancaster street - London, UK</address>
        </div>
        <md-icon ng-click="null" aria-label="edit" class="md-secondary">mode_edit</md-icon>
        <md-icon ng-click="null" aria-label="delete" class="md-secondary">delete</md-icon>
    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h3>TIM Celular S.A.</h3>
            <p>00.000.000/0000-00</p>
            <address>1010, Lancaster street - London, UK</address>
        </div>
        <md-icon ng-click="null" aria-label="edit" class="md-secondary">mode_edit</md-icon>
        <md-icon ng-click="null" aria-label="delete" class="md-secondary">delete</md-icon>
    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h3>TIM Celular S.A.</h3>
            <p>00.000.000/0000-00</p>
            <address>1010, Lancaster street - London, UK</address>
        </div>
        <md-icon ng-click="null" aria-label="edit" class="md-secondary">mode_edit</md-icon>
        <md-icon ng-click="null" aria-label="delete" class="md-secondary">delete</md-icon>
    </md-list-item>
</md-list>
