@()


<div class="navbar-default sidebar" role="navigation" ng-controller="MenuCtrl">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#">Catálogo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" ng-click="gotoCustomers()"><i class="fa fa-fw fa-user"></i> Clientes</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Financeiro<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" ng-click="gotoPOs()"><i class="fa fa-fw fa-shopping-cart"></i> Purchase orders</a>
                    </li>
                    <li>
                        <a href="#" ng-click="gotoPayments()"><i class="fa fa-fw fa-credit-card-alt"></i> Payment Auth.</a>
                    </li>
                    <li>
                        <a href="#" ng-click="gotoInvoices()"><i class="fa fa-fw fa-barcode"></i> Invoices</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
